<web-app>
   <servlet>
      <servlet-name>instalador</servlet-name>			
      <servlet-class>ejemplo.Instalador</servlet-class>	
   </servlet>
   <servlet-mapping>
      <servlet-name>instalador</servlet-name>	
      <url-pattern>/instalador</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name> iniciosesion</servlet-name>
      <servlet-class> ejemplo.InicioSesion </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>iniciosesion</servlet-name>
      <url-pattern>/iniciosesion</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name> cerrar</servlet-name>
      <servlet-class> ejemplo.Cerrar </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>cerrar</servlet-name>
      <url-pattern>/cerrar</url-pattern>
   </servlet-mapping>
</web-app>